<footer class="footer is-paddingless margin-top-bottom-ten secondary-font">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>&copy; Copyright Abi Hill.2018 | Website by <a href="http://abihill.com/" target="_blank">Abi Hill</a></strong>
      </p>
    </div>
  </div>
</footer>
