<div class="columns">
  <% data.forEach(film => { %>
    <div class="column">
      <h2><%= art.artname %></h2>
      <h4><%= art.artst %></h4>
      <img src="<%= art.image %>" />
    </div>
  <% }) %>
</div>
