<section class="hero is-large homepage">
  <div class="hero-body">
    <div class="container has-text-right">
      <h1 class="title has-text-white has-text-centered is-size-1">TAG Mate</h1>
      <h2 class="subtitle has-text-white has-text-centered is-size-5 secondary-font">Spot, snap & share Street Art</h2>
    </div>
  </div>
</section>
