<div class="container">
  <form method="POST" action="/login">
    <div class="field">
      <label for="email" class="secondary-font is-size-6">Email</label>
      <input class="input secondary-font is-size-6" type="text" name="email" id="email">
    </div>
    <div class="field">
      <label for="password" class="secondary-font is-size-6">Password</label>
      <input class="input secondary-font is-size-6" type="password" name="password" id="password">
    </div>
    <button class="tagmate-button">Login</button>
  </form>
</div>
